/* styling of card component */
.card{
  background-color: #81ecec;
  width: 250px;
  height: 210px;
  font-size: 15px;
  display: inline-block;
  text-align: left;
  border-radius: 15px 15px;
  margin: 25px 0 25px 0 ;

}
h4{
  font-size: 25px;
  color: #2d3436;
  display: inline-block;
  padding-top: 15px;
  padding-left: 10px;
  margin: 0 0;
}
span{
  padding-left: 10px;
}
.upper{
  background-color: #00cec9;
  border-radius: 15px 15px 0 0;
  height: 42%;
  padding-top: 0;
  
}
.lower{
  padding-top:25px;
}

/* styles of app.js */
.parent_container{
  text-align: center;
}

/* style of index.js */
.main_heading{
  text-align: center;
}

/* style of avatar component */
.pic{
  display: inline;
  position: absolute;
  height: 80px;
  border: 6px solid white;
  border-radius:150px 150px;
  width: 80px;
  margin-top: 25px;
  margin-left: 40px;
  
}

/* style of body of index.html */

body{
  margin: 0 0;
  background-color: rgb(218, 220, 221);
}