.card{
  background-color: #81ecec;
  width: 250px;
  height: 190px;
  font-size: 15px;
  display: inline-block;
  text-align: left;
  border-radius: 15px 15px;
  margin: 25px 0 25px 0 ;

}

.upper{
  background-color: #00cec9;
  border-radius: 15px 15px 0 0;
  height: 42%;
  padding-top: 0;
  
}
h1{
  text-align: center;
}
.lower{
  padding-top:25px;
}
.profile_pic{
  height: 85px;
  border-radius:150px 150px;
  width: 85px;
  margin-top: -20px;
  margin-left: 150px;
  background-color: aliceblue;
}
.pic{
  height: 75px;
  border-radius:150px 150px;
  width: 75px;
  margin-top: 5px;
  margin-left: 5px;
  
}

span{
  padding-left: 10px;
}
h4{
  font-size: 25px;
  color: #2d3436;
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  margin: 0 0;
}
.contact_container{
 text-align: center;
}
body{
  margin: 0 0;
  background-color: rgb(218, 220, 221);
}