.card{
  background-color: #81ecec;
  width: 220px;
  height: 190px;
  font-size: 15px;
  display: inline-block;
  text-align: left;
  border-radius: 15px 15px;
  margin: 25px 0 25px 0 ;

}
.parent_container{
  text-align: center;
}
.main_heading{
  text-align: center;
}
.upper{
  background-color: #00cec9;
  border-radius: 15px 15px 0 0;
  height: 42%;
  padding-top: 0;
  
}
h1{
  text-align: center;
}
.lower{
  padding-top:25px;
}

.pic{
  display: inline;
  position: absolute;
  height: 75px;
  border: 6px solid white;
  border-radius:150px 150px;
  width: 75px;
  margin-top: 25px;
  margin-left: 40px;
  
}

span{
  padding-left: 10px;
}
h4{
  font-size: 25px;
  color: #2d3436;
  display: inline-block;
  padding-top: 25px;
  padding-left: 10px;
  margin: 0 0;
}
.contact_container{
 text-align: center;
}
body{
  margin: 0 0;
  background-color: rgb(218, 220, 221);
}

input{
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.add_contact{
  position: fixed;
  top: 200px;
  right: 70px;
  width: 32px;
  font-size: 25px;
  border: 0px;
  border-radius: 25px 25px;
  background-color: #00cec9;
  color: white;
  height: 32px;
}
.AddContact{
    position: fixed;
    right: 50px;
}